<div class="panel panel-default">
	<div class="panel-body">
		<section class="auth-form">
			<h2>Login or Register</h2>
			<div>
				<input class="register" type="text" autofocus="true" ng-model="account.email" placeholder="Email">
			</div>
			<div>
				<input class="register" type="Password" ng-model="account.password" placeholder="password">
			</div>
			<div>
				<input class="register" type="text" ng-model="account.userName" placeholder="UserName">
			</div>
			<div>
				<button class="btn btn-info login" ng-click="login()">Login</button>
				<button class="btn btn-default login" ng-click="register()">Register</button>
			</div>
		</section>
	</div>
</div>